<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Update Book </h3>
          <hr />
          <div class="card-body">
              <form (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label> Book Name</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="book.name"
                          name="name">
                  </div>
                  <div class="form-group">
                      <label> Author </label>
                      <input type="text" class="form-control" id="author" [(ngModel)]="book.author"
                          name="author">
                  </div>
                  <div class="form-group">
                      <label> Publisher </label>
                      <input type="text" class="form-control" id="publisher" [(ngModel)]="book.publisher"
                          name="publisher">
                  </div>
                  <div class="form-group">
                      <label> ISBN </label>
                      <input type="text" class="form-control" id="isbn" [(ngModel)]="book.isbn"
                          name="isbn">
                  </div>
                  <br />
                  <button class="btn btn-success" type="submit">Submit</button>

              </form>
          </div>
      </div>
  </div>
</div>
