<div class="row">
  <h2>Book List</h2>
</div>

<table class = "table table-striped table-bordered">
  <thead>
      <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>ISBN</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let book of books" >
          <td> {{ book.name }} </td>
          <td> {{ book.author }} </td>
          <td> {{ book.publisher }} </td>
          <td> {{ book.isbn}} </td>
          <td>
              <button (click) = "updateBook(book.id)" class = "btn btn-primary">Update</button>
              <button (click) = "deleteBook(book.id)" class = "btn btn-danger" style="margin-left: 10px">Delete</button>
              <button (click) = "bookDetails(book.id)" class = "btn btn-primary" style="margin-left: 10px">View</button>
          </td>
      </tr>
  </tbody>
</table>
